<% provide :title,@product.name %>
 <div class="site-section bg-light">
      <div class="container">
        <div class="row mb-5 justify-content-center">
          <div class="col-md-6 text-center">
            <h3 class="section-sub-title"><%= t(".aswesome_product") %></h3>
            <h2 class="section-title mb-3"><%= t(".feature")%></h2>
            <p> <%= t(".caption") %></p>
          </div>
        </div>
        <div class="bg-white py-4">
          <div class="row mx-4 my-4 product-item-2 align-items-start">
            <div class="col-md-6 mb-5 mb-md-0 order-1 order-md-2">
          <%= image_tag(@product.image_url, width: '100%') if @product.image.present? %>
            </div>
            <div class="col-md-5 mr-auto product-title-wrap order-2 order-md-1">
              <h3 class="text-black mb-4 font-weight-bold"><%= @product.name %></h3>
              <p class="product-description"><%= t ".status" %><%= @product.status %></p>
              <p class="vote"><%= t ".discount" %><strong><%= @product.discount %></strong>
              <strong>%</strong>
              </p>
              <h5 class="sizes"><%= t ".amout" %> <%= @product.amout %>
              </h5>
              <h5 class="colors"><strong><%= t ".color" %></strong><%= @product.color %>
              </h5>

              <div class="mb-4">
                <h3 class="text-black font-weight-bold h5"><%= t(".price") %></h3>
                <div class="price"> <span class="icon-usd"></span><%= @product.price %></div>
              </div>
              <p>
                <div>
                  <a><%= button_to t(".cart"), line_items_path(:product_id => @product), class: "btn btn-black mr-1 rounded-0" %></a>
                  <a><%=link_to t(".back") , products_path, class: "btn btn-black btn-outline-black ml-1 rounded-0" %></a>
              </div>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
















